{% extends "base.html" -%}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" %}
<div class="container max-w-6xl mx-auto mt-7">
    <h1 class="font-bold text-lg">パートナー 詳細情報</h1>
    <div class="flex mt-3"><p class="mx-3 text-sm w-32 bg-gray-100">登録・更新者</p>
        <p class="mx-3 bg-red-100">{{ contractor.registered_by }}</p></div>
    <div class="flex mt-3"><p class="mx-3 text-sm w-32">登録・更新日時</p>
        <p class="mx-3">{{ contractor.registered_at }}</p></div>
    <div class="flex mt-3"><p class="mx-3 text-sm w-32">パートナーID</p>
        <p class="mx-3">{{ contractor.id }}</p></div>
    <div class="flex mt-3"><p class="mx-3 text-sm w-32">パートナー名</p>
        <p class="mx-3">{{ contractor.name }}</p></div>
    <div class="flex mt-3"><p class="mx-3 text-sm w-32">代表者役職</p>
        <p class="mx-3">{{ contractor.title }}</p></div>
    <div class="flex mt-3"><p class="mx-3 text-sm w-32">代表者名</p>
        <p class="mx-3">{{ contractor.representative }}</p></div>
    <div class="flex mt-3"><p class="mx-3 text-sm w-32">郵便番号</p>
        <p class="mx-3">{{ '〒{}-{}'.format(contractor.zip[:3], contractor.zip[3:]) }}</p></div>
    <div class="flex mt-3"><p class="mx-3 text-sm w-32">住所</p>
        <p class="mx-3">{{ contractor.prefecture }}{{ contractor.city }}{{ contractor.town }}
            {{ contractor.address }}{{ contractor.bldg }}</p></div>
    <div class="flex mt-3"><p class="mx-3 text-sm w-32">代表電話</p>
        <p class="mx-3">{{ contractor.telephone }}</p></div>

    <p class="mt-4">
        <a href="/contractor/{{ contractor.id }}?mode=edit" class="text-decoration-none">取引先情報の編集</a>
    </p>
    
</div>
{% endblock %}
