<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- tailwind css cdn -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>パートナー検索</title>
</head>
<body>
    <div class="container max-w-sm px-3 mx-auto">
        <h1 class="text-xl my-5">パートナー検索</h1>
        <form name="contract_search" action="/contract/contractor_search" method="POST">
            <div class="flex">
            <input type="search" placeholder="パートナー名" name="q" class="w-full border-b py-1 px-3" required>
            <button type="submit" class="mx-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>    
            </button>
            </div>
        </form>

        {% if result %}
        <p class="my-3 text-sm px-3">{{ result }}</p>
        {% endif %}
    
        {% if contractors %}
        <table class="table table-sm my-5 text-sm">
        <thead>
            <tr class="border-t border-b">
                <th>選択</th>
                <th>ID</th>
                <th>パートナー名</th>
                <th>所在地</th>
            </tr>
        </thead>
        <tbody>
        {% for contractor in contractors %}
        <tr class="border-b">
            <td class="px-1 py-2">
                <input type="checkbox" name="selected" value="{{ contractor.id }}" onchange="selectContractor();">
            </td>
            <td class="px-1 py-2">{{ contractor.id }}</td>
            <td class="px-1 py-2" name="contractor_name">{{ contractor.name }}</td>
            <td class="px-1 py-2">{{ contractor.prefecture }}{{ contractor.city }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    </div>
    <!-- javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/contract-register.js') }}"></script>

</body>
</html>