{% extends "base.html" -%}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" %}
{% from "_macros.html" import render_field_with_errors %}

<div class="container max-w-md mx-auto">
    <h1 class="text-2xl my-7">取引先登録</h1>
    <form name="contractor" action="/contractor/register" method="POST">
    {{ form.csrf_token }}
    <div class="my-3 text-sm text-gray-500">
        {{ render_field_with_errors(form.id, class_="my-1 mx-3 border-b w-full text-base text-gray-800") }}</div>

    {# jsでバリエーション＆エラー表示をさせる場所 #}
    <div id="id_error" style="color: red;"></div>

    <div class="my-3 text-sm text-gray-500">
        {{ render_field_with_errors(form.name, class_="my-1 mx-3 border-b w-full text-base text-gray-800") }}</div>
    <div class="my-3 text-sm text-gray-500">
        {{ render_field_with_errors(form.title, class_="my-1 mx-3 border-b w-full text-base text-gray-800") }}</div>
    <div class="my-3 text-sm text-gray-500">
        {{ render_field_with_errors(form.representative, class_="my-1 mx-3 border-b w-full text-base text-gray-800") }}</div>
    <div class="my-3 text-sm text-gray-500">
        {{ render_field_with_errors(form.zip, class_="my-1 mx-3 border-b w-full text-base text-gray-800") }}</div>
    <div class="my-3 text-sm text-gray-500">
        <p>都道府県　市区町村　町域</p>
        {{ form.prefecture(class_="my-1 mx-3 border-b w-1/5 text-base text-gray-800", readonly=True) }}
        {{ form.city(class_="my-1 mx-3 border-b w-1/5 text-base text-gray-800", readonly=True) }}
        {{ form.town(class_="my-1 mx-3 border-b w-auto text-base text-gray-800", readonly=True) }}
    </div>
    <div class="my-3 text-sm text-gray-500">
        {{ render_field_with_errors(form.address, class_="my-1 mx-3 border-b w-full text-base text-gray-800") }}</div>
    <div class="my-3 text-sm text-gray-500">
        {{ render_field_with_errors(form.bldg, class_="my-1 mx-3 border-b w-full text-base text-gray-800") }}</div>
    <div class="my-3 text-sm text-gray-500">
        {{ render_field_with_errors(form.telephone, class_="my-1 mx-3 border-b w-full text-base text-gray-800") }}</div>
    <div id="tel_error" style="color: red;"></div> {# jsでバリエーション＆エラー表示をさせる場所 #}
        
    <button type="submit" class="bg-blue-600 text-white text-sm my-5 py-1 px-28 rounded shadow-lg
    hover:bg-blue-800 transition duration-200">登録</button>
</div>

<div class="container max-w-6xl mx-auto">
    <form name="customer" action="/customer/register" method="POST">
    
    <div class="mt-3">{{ form.address.label(class_="text-sm") }}</div>
    <div>{{ form.address(class_="border") }}</div>
    <div class="mt-3">{{ form.bldg.label(class_="text-sm") }}</div>
    <div>{{ form.bldg(class_="border") }}</div>
    <div class="mt-3">{{ form.telephone.label(class_="text-sm") }}</div>
    <div>{{ form.telephone(class_="border") }}</div>
    <div id="tel_error" style="color: red;"></div> {# jsでバリエーション＆エラー表示をさせる場所 #}

    <button type="submit" class="bg-blue-600 text-white text-sm my-5 py-1 px-20 rounded shadow-lg
    hover:bg-blue-800 transition duration-200">登録</button>
</div>

<!-- javascript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
<!-- 住所補完JavaScriptライブラリの読み込み -->
<script type="text/javascript" src="https://postcode-jp.com/js/postcodejp.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/postcode.js') }}"></script>

{% endblock %}